/* line 4, style.scss */
body {
  word-wrap: break-word !important; }

/* line 13, style.scss */
.navbar-default {
  margin-bottom: 0 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  padding-top: 15px;
  padding-bottom: 15px; }

/* line 21, style.scss */
.navbar-brand {
  color: #3fd20c !important;
  font-size: 23px !important;
  font-family: serif;
  letter-spacing: 1px; }

/* line 30, style.scss */
.navbar-right li a {
  font-size: 11px;
  font-family: serif; }

/* line 45, style.scss */
.top-image {
  background-image: url(images/lap-top2.jpg);
  background-size: cover;
  height: 600px; }
  /* line 50, style.scss */
  .top-image h2 {
    padding-top: 177px;
    padding-bottom: 25px;
    color: #FFF;
    text-align: center;
    margin-top: 0;
    font-family: serif;
    font-size: 43px; }
  /* line 60, style.scss */
  .top-image p {
    color: #FFF;
    text-align: center;
    padding-bottom: 100px;
    font-family: serif;
    letter-spacing: 1px; }
  /* line 68, style.scss */
  .top-image a {
    color: #FFF;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #FFF;
    border-radius: 3px;
    width: 300px;
    margin: 0 auto;
    font-family: serif; }
  /* line 81, style.scss */
  .top-image a:hover {
    color: #000 !important;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }

/* line 99, style.scss */
.service-wrapper h2 {
  text-align: center;
  margin-top: 60px; }
/* line 104, style.scss */
.service-wrapper p {
  text-align: center;
  color: #999;
  font-family: serif;
  margin-bottom: 55px; }

/* line 114, style.scss */
.service-contents h4 {
  text-align: center; }
/* line 118, style.scss */
.service-contents p {
  padding: 22px 11px 54px;
  text-align: left; }
/* line 124, style.scss */
.service-contents img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

/* line 137, style.scss */
.portofolio-wrapper {
  background-color: #F5F5F5;
  padding-bottom: 100px; }
  /* line 142, style.scss */
  .portofolio-wrapper h2 {
    text-align: center;
    margin-top: 70px; }
  /* line 147, style.scss */
  .portofolio-wrapper p {
    text-align: center;
    color: #999;
    margin-bottom: 50px;
    font-family: serif; }

/* line 156, style.scss */
.portofolio-contents {
  margin-bottom: 30px; }
  /* line 159, style.scss */
  .portofolio-contents img {
    width: 220px;
    height: 220px;
    display: block;
    margin: 0 auto; }

/* line 170, style.scss */
.about-wrapper {
  margin-bottom: 100px; }

/* line 176, style.scss */
.about-contents {
  margin-top: 100px; }
  /* line 178, style.scss */
  .about-contents img {
    width: 33px;
    height: 33px;
    display: block;
    margin: 0 auto; }
  /* line 185, style.scss */
  .about-contents h2 {
    text-align: center;
    font-family: serif;
    font-size: 40px; }
  /* line 191, style.scss */
  .about-contents p {
    text-align: center;
    font-size: 10px;
    color: #666;
    margin-top: 22px; }

/* line 199, style.scss */
.table {
  margin-bottom: 0 !important; }
  /* line 202, style.scss */
  .table table {
    width: 100%; }
  /* line 206, style.scss */
  .table th {
    width: 30%;
    text-align: left !important;
    font-family: serif;
    padding-top: 17px !important;
    padding-bottom: 17px !important; }
  /* line 213, style.scss */
  .table td {
    width: 70%;
    color: #666;
    font-family: serif;
    padding-top: 17px !important;
    padding-bottom: 17px !important; }

/* line 226, style.scss */
.contact-wrapper {
  background-color: #F5F5F5;
  padding-bottom: 100px; }
  /* line 231, style.scss */
  .contact-wrapper h2 {
    font-family: serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px; }

/* line 239, style.scss */
.contact-contents {
  width: 50%;
  margin: 0 auto; }
  /* line 244, style.scss */
  .contact-contents button, .contact-contents input, .contact-contents select, .contact-contents textarea {
    width: 500px !important; }
  /* line 249, style.scss */
  .contact-contents label {
    padding-bottom: 5px; }

/* line 258, style.scss */
.single-wrapper {
  margin-top: 70px;
  margin-bottom: 150px; }
  /* line 263, style.scss */
  .single-wrapper h2 {
    margin-bottom: 50px;
    color: #333; }
  /* line 268, style.scss */
  .single-wrapper p {
    color: #666;
    margin-left: 50px;
    font-size: 20px; }
  /* line 274, style.scss */
  .single-wrapper small {
    margin-left: 30px;
    font-size: 13px; }

/* line 283, style.scss */
#blog-title {
  margin-bottom: 77px;
  color: #333;
  letter-spacing: 2px; }

/* line 289, style.scss */
.blog-wrapper {
  margin-bottom: 100px; }
  /* line 293, style.scss */
  .blog-wrapper a {
    margin-bottom: 20px; }
  /* line 297, style.scss */
  .blog-wrapper h3 {
    font-family: serif;
    margin-left: 30px; }
  /* line 302, style.scss */
  .blog-wrapper small {
    float: right;
    font-size: 13px; }

/* line 317, style.scss */
footer {
  background: #0f2149;
  color: #CCC;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-family: serif;
  position: relative;
  bottom: 0;
  width: 100%; }
