
// common





// header.php

.navbar-default {
    margin-bottom: 0!important;
    background-color: #fff!important;
    border-color: #fff!important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
  color: rgb(63, 210, 12)!important;
  font-size: 23px!important;
  font-family: serif;
  letter-spacing: 1px;
}

.navbar-right {
  li {
    a {
      font-size: 11px;
      font-family: serif;

    }
  }
}








.top-image {
  background-image: url(images/lap-top3.jpg);
  background-size: cover;
  height: 600px;

  h2 {
    padding-top: 177px;
    padding-bottom: 25px;
    color: #FFF;
    text-align: center;
    margin-top: 0;
    font-family: serif;
    font-size: 43px;
  }

  p {
    color: #FFF;
    text-align: center;
    padding-bottom: 100px;
    font-family: serif;
    letter-spacing: 1px;
  }

  a {
    color: #FFF;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #FFF;
    border-radius: 3px;
    width: 300px;
    margin: 0 auto;
    font-family: serif;
  }

  a:hover {
    color: #000!important;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out;

  }



}


// service

.service-wrapper {


  h2 {
    text-align: center;
    margin-top: 60px;
  }

  p {
    text-align: center;
    color: #999;
    font-family: serif;
    margin-bottom: 55px;
  }
}

.service-contents {

  h4 {
    text-align: center;
  }

  p {
    padding: 22px 11px 54px;
    text-align: left;

  }

  img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

  }

}

// we make it

.portofolio-wrapper {
  background-color: #F5F5F5;

  padding-bottom: 100px;

  h2 {
    text-align: center;
    margin-top: 70px;
  }

  p {
    text-align: center;
    color: #999;
    margin-bottom: 50px;
    font-family: serif;
  }

}

.portofolio-contents {
  margin-bottom: 30px;

  img {
    width: 220px;
    height: 220px;
    display: block;
    margin: 0 auto;
  }
}


// about

.about-wrapper {
  margin-bottom: 100px;

}


.about-contents {
  margin-top: 100px;
  img {
    width: 33px;
    height: 33px;
    display: block;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    font-family: serif;
    font-size: 40px;
  }

  p {
    text-align: center;
    font-size: 10px;
    color: #666;
    margin-top: 22px;
  }
}

.table {
  margin-bottom: 0!important;

  table {
    width: 100%;
  }

  th {
    width: 30%;
    text-align: left!important;
    font-family: serif;
    padding-top: 17px!important;
    padding-bottom: 17px!important;
  }
  td {
    width: 70%;
    color: #666;
    font-family: serif;
    padding-top: 17px!important;
    padding-bottom: 17px!important;
  }
}


















// footer.php


footer {
  background: #0f2149;
  color: #CCC;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-family: serif;
}
